body {
	margin: 0 auto;
	padding: 0;
	color: black;
	font-family: Arial, sans-serif;

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box; 
	}
}

.sheeps {
	width: 100%;
	margin: 0;
	padding: 5%;
	display: -webkit-flex;
    display: flex;
	justify-content: center;
	align-items: center;

	.sheep {
		list-style-type: none;
		list-style-position: inside;
		display: block;
		margin: 1% 0; 
		-webkit-flex: 1 1 auto;
    	flex:1 1 auto;
    	margin: 10px;

    	img {
    		width: 100%;
    	}
	}
}